.person{
    margin-top: 10px;
    gap: 30px;
    overflow: auto;
    display: flex;
    text-align: center;
}
#person {
    padding: 20px 0;
}
.person img {
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.pesron-img {
    height: 350px;
    -webkit-box-shadow: -1px 100px 55px -11px rgba(186, 190, 193, 0.81);
    -moz-box-shadow: -1px 100px 55px -11px rgba(186, 190, 193, 0.81);
    box-shadow: -1px 100px 55px -11px rgba(186, 190, 193, 0.81);    border-radius: 10px;
    
}
.user_img {
    width: 200px;
    height: 256px;
}
.person h2 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
}